{% extends 'base.html' %}
{% load static %}

{% block title %}Home - SAGe{% endblock %}

{% block content %}
<div class="row align-items-center py-5">
    <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Sistema de Agendamento e Gerenciamento de Consultas (SAGe)</h1>
        <p class="col-lg-10 fs-4">Com este sistema, você tem a praticidade de agendar suas consultas de forma rápida e fácil, diretamente do seu computador ou dispositivo móvel.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            {% if not user.is_authenticated %}
                <a href="{% url 'cadastro' %}" class="btn btn-primary btn-lg px-4 me-md-2">Cadastre-se</a>
                <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-lg px-4">Login</a>
            {% else %}
                <a href="{% url 'portal_do_paciente' id=user.id %}" class="btn btn-primary btn-lg px-4 me-md-2">Ir para o Portal</a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
        <div class="card p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <h2 class="mb-3">Aproveite os benefícios:</h2>
            <ul class="list-unstyled">
                <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i> Agendamento 24/7</li>
                <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i> Visualização de horários disponíveis</li>
                <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i> Confirmação rápida e segura</li>
                <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i> Gerenciamento completo com autonomia</li>
            </ul>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col text-center">
        <h3 class="text-danger"><i class="bi bi-exclamation-triangle-fill"></i> Desenvolvimento</h3>
        <p class="text-danger">Fork do projeto de FAP. Os dados apresentados não são reais.</p>
    </div>
</div>
{% endblock %}